h1{
    color:blue;
    text-decoration: line-through;
    background-color: yellowgreen;

    }
    body{
        background-color: pink;
    }
    button{
        text-decoration: brown;
        background-color: yellow;
    }